html {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
@font-face {
	font-family: 'Pieces of Eight';
	src: url('../fonts/Pieces of Eight Alt.eot');
	src: local('☺'), url('../fonts/Pieces of Eight Alt.woff') format('woff'), url('../fonts/Pieces of Eight Alt.ttf') format('truetype'), url('../fonts/Pieces of Eight Alt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

header {
    display: flex;
    justify-content: center;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
}

.header__section {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 410px;
    height: 1083px;
    
   
    background-image: linear-gradient(
                    to top,
                    #122943 100%,
                    #000000 100%
                    );
}
.header__title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Pieces of Eight';
    font-style: normal;
    text-decoration-line: underline;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18.43px;
    color: white;
    line-height: 1.15;
    margin-bottom: 10px;
}

.img-list {
    display:flex;
    justify-content: space-between;
    flex-basis: calc((100% - 2px) / 3);
    flex-wrap: wrap;
    gap: 5px;
}


.list-reset {
    list-style: none;
}
